@using LMS.UI.Pages.Shared.Components.FormModal;
@using LMS.UI.Pages.Shared.Components.Navbar;
@using LMS.UI.Pages.Shared.Components.Sidebar;
@using Newtonsoft.Json;
@{
    dynamic msgObj = null;
    if (TempData["Message"] is not null)
    {
        msgObj = JsonConvert.DeserializeObject(TempData["Message"].ToString());
    }
    var status = "";
    var message = "";
    if (msgObj is not null)
    {
        status = msgObj.Status;
        message = msgObj.Message;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <environment include="Development">
        <partial name="_Styles"/>
    </environment>
    <environment exclude="Development">
        <partial name="_CDNStyles" />
    </environment>
    @await RenderSectionAsync("Styles", required: false)
    @*<link rel="stylesheet" href="~/LMS.UI.styles.css" asp-append-version="true" />*@
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        @(await Component.InvokeAsync<SidebarViewComponent>())
        <!-- Page Content  -->
        <div id="content">
            @(await Component.InvokeAsync<NavbarViewComponent>())
            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
                @(await Component.InvokeAsync<FormModalViewComponent>())
            </div>
        </div>
    </div>
    <environment include="Development">
        <partial name="_Scripts" />
    </environment>
    <environment exclude="Development">
        <partial name="_CDNScripts" />
    </environment>
    <script>
        if ('@status' == 'Success') {
            toastr.success('@message');
        }
        else if ('@status' == 'Error') {
            toastr.error('@message');
        }
        else if ('@status' == 'Warning') {
            toastr.warning('@message');
        }
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>